.main-container {
    background-color: var(--primary);
    margin-top: 44px;
    margin-bottom: 44px;
    display: flex;
}

.content-container {
    width: 100%;
    /* 요소의 최대 가로 크기 설정 */
    max-width: 935px;
    padding: 0 0 8px;
    margin: 0 auto;
    display: flex;
    /* background-color: antiquewhite; */
}

.content {
    width: 100%;
    max-width: 614px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.stories {
    width: 100%;
    background-color: var(--primary);
    padding: 16px 0;
    position: relative;
    overflow: hidden;
}

/* 가상요소 before와 after */
/* after - 실제 내용 바로 뒤에서 생성되는 자식요소. */
/* content="" : 왜 가짜요소라고 하는가? 
    - html 문서에 포함되지 않은 요소를 css에서 새롭게 생성시켜주기 떄문 */
/* 이건 화면이 줄어들었을 때 선이 생기도록 쓸거임 */
.stories::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: var(--border);
}

.post {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

@media (min-width: 620px){
    .content-container {
        padding: 30px 0 24px
    }
    .content {
        gap: 24px;
    }
    .stories {
        border: 1px solid var(--border);
        border-radius: 4px;
    }
    .stories::after {
        content: none;
    }
    .posts {
        gap: 24px;
    }
    .post {
        border: 1px solid var(--border);
        border-radius: 4px;
    }
}

@media (min-width: 1024px) {
    .main-container {
        background-color: var(--secondary);
    }
    .content {
        margin: unset;
    }
}

/* Story */
.story {
    background-color: transparent; /* 배경색 투명 지정 */
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}

.story__avatar{
    position: relative;
}

.story__border {
    width: 64px;
    height: 64px;
    fill: none;
    stroke: var(--story-border);
    stroke-width: 1.5;
}

.story__picture {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 56px;
    height: 56px;
    border-radius: 50%;
    overflow: hidden;
}

.story__user {
    font-size: 12px;
    font-weight: 400;
    color: var(--text-light);
    text-transform: lowercase;
    max-width: 72px;
    text-overflow: ellipsis;
    /* text-overflow: ellipsis - 뒤에 ... 나옴 */
    white-space: nowrap;
}

.stories__content {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 16px;
    padding: 0 16px;
    position: relative;
    scroll-behavior: smooth; /* 부드러운 스크롤 화면 전환 */
    scrollbar-width: none;
}

/* 웹킷 스크롤바 : 자동으로 생기는걸 방지하게함. (지워줌) */
.stories__content::-webkit-scrollbar {
    display: none;
}

/* Post */
.post{
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.post__header {
    background-color: var(--primary);
    border-bottom: 1px solid var(--border);

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.post__profile {
    display: flex;
    align-items: center;
    gap: 12px;
}

.post__avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.post__user {
    font-size: 14px;
    font-weight: 500;
    color: var( --text-dark);
    text-decoration: none;
    text-transform: lowercase; /* 소문자로 변경 */
}

.post__user:hover {
    text-decoration: underline;
}

/* post 사진 */
.post__more-options {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.post__content {
    display: flex;
    position: relative;
}

.post__medias {
    display: flex;
    overflow-y: hidden;
    /* 세로가 . 더길때 */
    overflow-x: auto;
    /* 가로가 더 길때 
        scroll은 항상 스크롤바 표시,
        auto는 내용이 넘어갈때만 스크롤바 표시 */

    width: 100%;

    /* 혹시 사진 여러장 올렸을때를 위해 만들어둔것 */
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

/* 스크롤바가 생기면 그것을 없애주기 위해 */
.post__medias::-webkit-scrollbar {
    display: none;
}

.post__media {
    width: 100%;
    flex: none;
    /* 혹시 사진 여러장 올렸을때를 위해 만들어둔것 */
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

/* 포스트의 푸터 */
.post__footer {
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 0 4px;
}

.post__buttons {
    display: flex;
    position: relative;
}

.post__button {
    background-color: transparent;
    border: none;
    cursor: pointer;

    padding: 8px;
}

.post__button--align-right {
    margin-left: auto;
    /* 왼쪽의 나머지 빈 공간을 마진값으로 만들어줘서 이미지가 오른쪽 정렬됨 */
}

.post__infos {
    display: flex;
    flex-direction: column;
    padding: 0 8px;
    gap: 10px;
}

.post__likes,
.post__description {
    /* background-color: var( --text-dark) */
    display: flex;
    /* 높이가 자동으로 늘어남! */
}

.post__likes {
    align-items: center;
    gap: 6px;
}

.post__likes-avatar {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.post__likes-avatar {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.post__likes span,
.post__description span {
    font-size: 14px;
    font-weight: 400;
    color: var( --text-dark);
}

.post__likes a,
.post__description a {
    font-size: 14px;
    font-weight: 500;
    color: var( --text-dark);
    text-decoration: none;
}

.post__name--underline:hover {
    text-decoration: underline;
}

.post__date-time {
    font-size: 10px;
    font-weight: 400;
    color: var(--text-light);
    text-transform: uppercase;
}

.post__footer{
    padding: 4px 8px 12px;
}

.post__date-time {
    margin-top: 6px;
}