.main-section{
    top: -10px;
}

.big_section{
    position: relative;
}

.add1{
    width: 100%;
}

.addlogo{
    width: 38%;
    position: absolute;
    top: 16px;
    left: 40px;
}

.add_info{
    width: 100%;
    position: absolute;
    top: 196px;
    left: 40px;
}

#info_title{
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}
.add_info p{
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 15px;
}

.play_but{
    height: 30px;
    width: 80px;
    background-color: #ffffff;
    border-radius: 5px;
    border: none;
    margin-right: 5px;
}

.play_but:hover{
    background-color: #C3C2C1;
    cursor: pointer;
}

.more_but{
    background-color: #6D6D6EB3;
    border-radius: 5px;
    color: white;
    border: none;
    height: 30px;
    width: 100px;
}

.more_but:hover{
    background-color: #383634;
    cursor: pointer;
}