/* 몸체몸체 */
.main_container{
    display: flex;
    flex-direction: row;
}

/* 사이드바 */
.sidebar{
    width: 10%;
    background-color: #000000;
}

.sidebar-container{
    display: flex;
    flex-direction: column;
}

.sidebar button{
    width: 66px;
    height: 76px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 8px;
    padding-bottom: 12px;
}

.sidebar button p{
    white-space: nowrap;
    margin-top: -5px;
    font-size: 12px;
}

.sidebar button:hover{
    background-color: #272727;
}


.sidebar img{
    height: 24px;
    padding: 16px;
}


/* 네브바 */
.nav_bar{
    height: 56px;
    background-color: #000000;
    display: flex;
    align-items: center;
    margin-left: 24px;
}

/* 네브바의 버튼들 */
.nav_bar button {
    background-color: #3E3E3E;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 9px 12px;
    margin-right:12px;
    white-space: nowrap;
}

.nav_bar button:hover {
    background-color: #4f4f4f;
}

/* 동영상 컨테이너 */
.video_container{
    width: 90%;
    background-color: #000000;
}

/* 광고 */
.ad_box {
    background-color: rgb(79, 65, 65);
    display: flex;
    flex-direction: row;
}

.ad_vidio{
    width: 50%;
    background-color: rgb(97, 97, 97);
}

.ad_info{
    width: 50%;
}

/* 동영상들 */
.video_grid{

}